.input {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  @include margin-auto(10);
  outline: none;
  border: 1px solid $base-blue;
  color: $base-blue;
  padding: 10px 5px;
  font-size: 16px;
}

.input-label {
  font-size: 24px;
  margin: 10px 0;
}
